/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.hero {
    padding: 0px;
    background-image: url("images/windsor-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-h1 {
    padding: 4px 12px;
    border-radius: 10px;
    margin: 0px 0px 12px;
    font-size: 32px;
    color: #F1FAEE;
    background-color: #1D3557;
}

#title-h2 {
    width: 355px;
    padding: 6px 28px;
    margin: 0px;
    border-radius: 10px;
    font-size: 19px;
    color: #F1FAEE;
    background-color: #457B9D;
}

h3 {
    color: #1D3557;
    font-size: 24px;
}

h4 {
    color: #1D3557;
    font-size: 16px;
}

p {
    color: #1D3557;
    font-size: 16px;
    font-weight: 400;
}

#activities {
    display: flex;
    justify-content: space-around;
}

.activity {
    width: 200px;
    text-align: center;
}

.top3-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#card {
    width: 400px;
    display: flex;
}

img {
    width: 100px;
}